.itemize-sample {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemize-sample__header {
  margin: 1rem 0;
}

.itemize-sample__header input {
  margin-right: 1.5rem;
}

.itemize-sample__requests p {
  font-family: monospace;
}
